*{
	margin: 0;
	padding: 0;
}

body{
	background: #fff;
}

.header{
	height: 200px;
	border-bottom: 2px solid;
}

.title{
	width: 900px;
	height: 100px;
	margin:50px auto;
}

.content{
	width: 1000px;
	height: 400px;
	margin: 50px auto;
}

.content .box{
	width: 205px;
	height: 220px;
	float: left;
	margin: 0 60px;
}

.box .button{
	width: 156px;
	height: 45px;
	line-height: 45px;
	display: block;
	margin: 0 auto;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bolder;
	color: rgba(46, 204, 113, 1);
	text-decoration: none;
	padding-left: 20px;
	border: 2px solid rgba(0,0,0,0.7);
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	position: relative;
	background: url(img/arrow.svg) no-repeat;
	background-position: 140px center;
}

.box .button:hover{
	background-position: right;
	border: 2px solid rgba(0,0,0,1);
}

.box .line{
	background-color: #000;
	display: block;
	position: absolute;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
}


.box .line-top{
	width: 0px;
	height: 2px;
	top: -2px;
	left: -100%;
}

.box .button:hover .line-top{
	width: 180px;
	left: -2px;

}

.box .line-bottom{
	width: 0px;
	height: 2px;
	bottom: -2px;
	right: -100%;
}

.box .button:hover .line-bottom{
	width: 180px;
	right: -2px;
}

.box .line-left{
	width: 2px;
	height: 0px;
	left: -2px;
	bottom: -100%;
}

.box .button:hover .line-left{
	height: 49px;
	bottom: -2px;
}

.box .line-right{
	width: 2px;
	height: 0px;
	right: -2px;
	top: -100%;
}

.box .button:hover .line-right{
	height: 49px;
	top: -2px;
}
