.box .icon{
	width: 174px;
	height: 155px;
	display: block;
	margin: 0 auto;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	background-size: 155px 155px;
}

.box .icon:hover{
	transform: scale(1.2) rotate(360deg);
	-webkit-transform: scale(1.2) rotate(360deg);
	-o-transform: scale(1.2) rotate(360deg);
	-moz-transform: scale(1.2) rotate(360deg);
}

#back{
	position: relative;
	top:155px;
}